:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --purple-blue-color: rgba(98, 0, 255, 0.301);
    --gap: 3rem;
}